# Discard by default
/*

# Don't discard the gitignore
!.gitignore

# Vim Configuration
!.vim
.vim/.netrwhist
!.vimrc
!.gvimrc

# Shell Configuration
!.bashrc
!.bash_profile

# X Configuration
!.Xdefaults
!.xinitrc
!.xsession
!.gtkrc-2.0
