snippet ciphp
	<?php defined('BASEPATH') or die('No direct script access allowed.');

snippet cicon
	<?php defined('BASEPATH') or die('No direct script access allowed.');

	class ${1:`Filename()`} extends CI_Controller {
	    ${2}
	}

snippet func
	function ${1:function_name} (${2}) {
	    ${3:#code}
	}

snippet armodel
	<?php defined('BASEPATH') or die('No direct script access allowed.');

	class ${1:`Filename()`} extends ActiveRecord\Model {
		${2}
	}
